
<div class="container">
  <div class="text-center wow fadeInDownBig">
    <h1>Submit a URL ...</h1>
    <%=form_for(@url) do |t| %>
      <div class="form-group">
        <%= t.text_field :given_url, :placeholder => "http://google.com", :type => "url", :required => "true", class: "form-control" %> 
      </div>
      <%= t.submit "Boom!", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

 